var dup_add = false;

if($('#added-ajax-cue').length){//Check if the entry point already exists
	dup_add = true;
	$('#added-ajax-cue').addClass("to-remove");
	$('#added-ajax-cue').removeAttr('id');
}

<% if @cue_index < 0 #Inserting at the first position%>
	<% if @new_num - @defaults.cue_number_gap < 0.01%>
		<% @new_num = 0.1 %>
	<% else %>
		<% @new_num = @new_num - @defaults.cue_number_gap %>
	<% end %>
	$('#top-add').after('<div class="row cue-row" id="added-ajax-cue"></div>');
<% else %>
	$('#cue-row-<%= @cue_id %>').after('<div class="row cue-row" id="added-ajax-cue"></div>');
<% end %>

$('#added-ajax-cue').append('<%= j render partial: 'shows/add_cue_table', locals: {show: @show, cue: @cue, defaults: @defaults, cue_before: @cue_before, new_num: @new_num} %>');

$('#added-ajax-cue').animate({height: "hide"}, 0, "linear");

if(dup_add == true){

	addCueForm();

	$('.to-remove').animate({
		height: "hide"
	}, {duration: 200,
	 	easing: "linear",
	 	queue: false,
	 	complete: function(){
	 		$(this).empty();
	 		$(this).remove();
	 		$('#number-field').focus();
	 	}
	});
}

else{
	addCueForm();
}

add_remove_listener(0);