<% provide(:page_title, @user.name) %>
<% object_title("user") %>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-3 col-xs-offset-4 center-page">
			<%= link_to "New Show", new_show_path, class: "btn btn-success btn-large btn-block", id: "new-show-btn" %>
		</div>
	</div>
</div>

<% if @user.shows.any? %>
	<div class="container-fluid">
		<div class="row">
			<%= render 'user_shows' %>
		</div>
	</div>
<% end %>