<% provide(:page_title, @user.name) %>


<div class="container-fluid">
	<div class="row">
		<%= @user.name %>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<%= link_to "New Show", new_show_path %>
	</div>
</div>

<% if @user.shows.any? %>
	<div class="container-fluid">
		<div class="row">
			<%= render 'user_shows' %>
		</div>
	</div>
<% end %>