$(document).on('page:load', function(){
	init_page();
});

$(document).ready(function(){
	init_page();
});

function init_page(){
	$(".sudo-button").click(function(){
		$('.add-cue-btn').click();
	});

	add_listeners();

	$('#quick-edit').on('ajax:success',function(){
		add_listeners();
	});

	if($('#number-field').length){// if a number field exists
		<%# if defaults.quick == true %> //need to fix, causes error
			$('#number-field').focus();
		<%# end %>
	}

	if($('#add-close').length){
		if($('#add-close').parents('#quick-add').length){
			$('#add-close').remove();
			$('#add-cue-inline-btn').css('width', '270%');
		}
	}

	console.log('No errors occured while loading JS');
}

function add_listeners(){
	$('.cue-row').not('#add-cue-holder').hover(
		function(){
			$(this).css("background-color", "rgba(36, 198, 227, .25)");
			$('#add-cue-after-' + $(this).data("id")).animate({
				opacity: 1
			}, 200, "linear");
		},
		function(){
			$(this).css("background-color", "");
			$('#add-cue-after-' + $(this).data("id")).animate({
				opacity: 0
			}, 0, "linear");
		}
	);

	add_remove_listener()
}

function add_remove_listener(){
	$('#add-close').click(
		function(){
			/*var prevH = $('#added-ajax-cue').height();
			$('#added-ajax-cue').wrap('<div id="height-maintain"></div>');
			$('#added-ajax-cue').css({'border': 'none', 'z-index': '100'});
			$('#added-ajax-cue').hide("slide", {direction: "right"}, 250, function(){
				$('#height-maintain').css('padding-top', prevH);
			});
			$('#height-maintain').animate({
				height: 'hide'
			}, 250, "linear", function(){
				$('#added-ajax-cue').remove();
				$('#height-maintain').remove();
			});*/
			slide_exit($('#added-ajax-cue'));
		}
	);
}

function slide_exit($obj){
	var prevH = $($obj).height();
	$($obj).wrap('<div id="height-maintain"></div>');
	$($obj).css({'border': 'none', 'z-index': '100'});
	$($obj).hide("slide", {direction: "right"}, 250, function(){
		$('#height-maintain').css('padding-top', prevH);
	});
	$('#height-maintain').animate({
		height: 'hide'
	}, 250, "linear", function(){
		$($obj).remove();
		$('#height-maintain').remove();
	});
}

function change_colors(id){
	var $row = $(".cue-row[data-id='" + id + "']");

	if ($row.hasClass("row-2")){
		remove_prev_class($row.next('.cue-row'));
		$row.next().addClass('row-1', 1000);
		switch_classes();
	}
	else{
		remove_prev_class($row.next('.cue-row'));
		$row.next().addClass('row-2', 1000);
		switch_classes();
	}

	function switch_classes(){
		$row.next().nextAll('.row-2')
			.addClass('row-1-temp', 1000)
			.removeClass('row-2', 1000);
		$row.next().nextAll('.row-1')
			.addClass('row-2', 1000)
			.removeClass('row-1', 1000);
		$row.next().nextAll('.row-1-temp')
			.addClass('row-1', 1000)
			.removeClass('row-1-temp', 1000);
	}

	function remove_prev_class($selection){
		if($selection.hasClass('row-1')){
			$selection.removeClass('row-1');
		}
		else if($selection.hasClass('row-2')){
			$selection.removeClass('row-2');
		}
	}
}

function addCueForm(){
	$('#added-ajax-cue').animate({
		height: "show"
	}, {duration: 200,
	 	easing: "linear",
	 	queue: false,
	 	complete: function(){
	 		$('#number-field').focus();
	 	}
	});
}