$(document).on('page:load', function(){
	init_page();
});

$(document).ready(function(){
	init_page();
});

function init_page(){
	console.log('init_page called');
	$(".sudo-button").click(function(){
		$('.add-cue-btn').click();
	});

	add_listeners();

	$('#quick-edit').on('ajax:success',function(){
		add_listeners();
	});

	check_buttons();

	console.log('No errors occured while loading JS');
}

function add_listeners(remove_effect){
	console.log('add_listeners called');
	if (remove_effect === undefined){
		remove_effect = 0;
	}
	console.log('REMOVE EFFECT = ' + remove_effect);
	$('.cue-row').not('#add-cue-holder').hover(
		function(){
			$(this).css("background-color", "rgba(36, 198, 227, .25)");
			$('#add-cue-after-' + $(this).data("id")).animate({
				opacity: 1
			}, 200, "linear");
		},
		function(){
			$('.add-cue-after').stop();
			$(this).css("background-color", "");
			$('#add-cue-after-' + $(this).data("id")).animate({
				opacity: 0
			}, 0, "linear");
		}
	);

	add_click_row();

	$('.add-cue-after').click(function(){
		console.log('insert clicked');
		//Use row click function for when actually using effects
	});

	$('.delete-cue-button').click(function(){
		console.log('delete clicked');
	});

	add_remove_listener()
}

function check_buttons(){
	console.log('check_buttons called');
	if($('#add-close').length){
		if($('#add-close').parents('#quick-add').length){
			$('#add-close').remove();
			$('#add-cue-inline-btn').css('width', '270%');
		}
	}
}

/* effect can be:
	0: slide_exit
	1: cross_fade
*/
function add_remove_listener(effect){
	console.log('add_remove_listener called');
	$('#add-close').click(
		function(){
			var $sec = $('#added-ajax-cue');
			if (effect === 0){
				console.log('added to ajax');
				slide_exit($sec, click_row_reset);
			}
			else{
				remove_edit();

				/*cross_fade($rowAdding, $sec, $sec.outerHeight(), function(){
					$rowAdding.height($sec.outerHeight());
					$rowAdding.animate({
						height: hgt
					}, 600, "linear");
				});*/
			}
		}
	);
}

function slide_exit($obj, cbfunction){
	console.log('slide_exit called');
	var prevH = $obj.height();
	$obj.wrap('<div id="height-maintain"></div>');
	$obj.css({'border': 'none', 'z-index': '100'});
	$obj.hide("slide", {direction: "right"}, 250, function(){
		$('#height-maintain').css('padding-top', prevH);
	});
	$('#height-maintain').animate({
		height: 'hide'
	}, 250, "linear", function(){
		$obj.remove();
		$('#height-maintain').remove();
		if(cbfunction != undefined){
			cbfunction();
		}
	});
}

function change_colors(id){
	console.log('change_colors called');

	var $row = $(".cue-row[data-id='" + id + "']");

	if ($row.hasClass("row-2")){
		remove_prev_class($row.next('.cue-row'));
		$row.next().addClass('row-1', 1000);
		switch_classes();
	}
	else{
		remove_prev_class($row.next('.cue-row'));
		$row.next().addClass('row-2', 1000);
		switch_classes();
	}

	function switch_classes(){
		$row.next().nextAll('.row-2')
			.addClass('row-1-temp', 1000)
			.removeClass('row-2', 1000);
		$row.next().nextAll('.row-1')
			.addClass('row-2', 1000)
			.removeClass('row-1', 1000);
		$row.next().nextAll('.row-1-temp')
			.addClass('row-1', 1000)
			.removeClass('row-1-temp', 1000);
	}

	function remove_prev_class($selection){
		if($selection.hasClass('row-1')){
			$selection.removeClass('row-1');
		}
		else if($selection.hasClass('row-2')){
			$selection.removeClass('row-2');
		}
	}
}

function addCueForm(){
	console.log('addCueForm called');
	$('#added-ajax-cue').animate({
		height: "show"
	}, {duration: 200,
	 	easing: "linear",
	 	queue: false,
	 	complete: function(){
	 		click_row_reset();
	 		$('#number-field').focus();
	 	}
	});
}

function add_click_row(exception){
	console.log('add_click_row called');
	$('.cue-row').each(function(index, row){
		//console.log(exception);
		if($(row).attr('id') !== 'add-cue-holder' && $(row).attr('id') !== 'added-ajax-cue' && $(row).attr('id') !== exception){
			//console.log(row);
			$(row).append('<div class="cue-row-click" id=cue-row-click-' + $(this).data('id') + '></div>');
			var rowData = $(row).data('id');
			var $newDiv = $('#cue-row-click-' + rowData);
			$newDiv.data('id', rowData);
			var position = $(row).position();
			//console.log('Row Height = ' + position.top + "; Data = " + $(row).data('id'));
			//formating new div
			$newDiv.css('position', 'absolute');
			$newDiv.css('top', position.top);
			$newDiv.height($(row).outerHeight());
			$newDiv.css('width', '85%');
			//add link for clicking
			$newDiv.wrap('<a href="/cues/' + rowData + '/edit" data-remote="true" class="click-row-link"></a>');
			//console.log($newDiv);
			//console.log($newDiv.parent().parent());
		}
	});

	//add_click_row_listener();
}

function remove_click_row(){
	console.log('remove_click_row called');
	$('.cue-row-click').remove();
	$('.click-row-link').remove();
}

function add_click_row_listener(){
	console.log('add_click_row_listener called');
	/*$('.cue-row-click').click(function(){
		var row = $(this);
		console.log(row[0]);
		console.log(row[0].id);
		var $row = $('#'+row[0].id);
		console.log($row.data('id'));
		console.log('clicked row');
	});	*/
}

function click_row_reset(addException){
	console.log('click_row_reset called');
	if (addException === undefined){
		addException = '';
	}
	console.log('ADD EXCEPTION = ' + addException);
	remove_click_row();
	add_click_row(addException);
}

function insert_added_ajax(top){
	var $section = $('#added-ajax-cue');
	$section.css("position", "absolute");
	$section.css("top", top);
	$section.css("opacity", 0);
}

function cross_fade($in, $out, height, cbAdd){
	console.log("cross_fade called");
	$out.animate({
		height: height //for height change of fading element
	}, 300, "linear", function(){
			$out.parent().append($in);
			insert_added_ajax($out.position().top);
			$out.fadeOut({
				duration: 150,
				queue: false,
				complete: function(){
					$in.css('position', 'relative');
					$in.css('top', 'auto');
					if(cbAdd != undefined){
						cbAdd();
					}
				}
			});
			$in.css('display', "");
			$in.animate({
				opacity: 1
			}, {
				duration: 150, 
				queue: false
			});
	});
}

function remove_edit(){
	console.log('remove_edit called');
	var $cues = $('.cue-row');
	var $rowAdding = $('#cue-row-' + $('#add-close').parents('.cue-row').data('id'));
	var hgt = $cues.not('#top-add, #added-ajax-cue, #' + $rowAdding.attr('id')).first().outerHeight();//excluding elements that are not normal cue-rows
	var $pRow = $('#add-close').parents('.cue-row');
	var beforeIndex = $cues.index($pRow) - 2;  //2 because of hidden row
	if (beforeIndex >= 0){
		var $rowBefore = $('#'+$cues[beforeIndex].id);
	}
	else{
		var $rowBefore = $('#'+$cues[beforeIndex + 1].id);	
	}
	$rowBefore.after($rowAdding);
	$rowAdding.css({'top': $pRow.position().top, 'position': 'absolute', 'width':'100%'});
	$rowAdding.fadeIn(150);
	$pRow.fadeOut(150, function(){
		var ht = $rowAdding.outerHeight();
		$rowAdding.attr('style', '');//{'position':'relative', 'display':'', 'width':'', 'top':''});
		$rowAdding.css('height', ht);
		//console.log($rowAdding.parent());
		$rowAdding.animate({
			height: hgt
		}, 300, "linear", function(){
			var cl = $rowAdding.attr('class');
			$rowAdding.removeClass();
			$rowAdding.addClass(cl);
			$('#added-ajax-cue').remove();
			click_row_reset()
		});
	});
}