@import "bootstrap-sprockets";
@import "bootstrap";

@mixins box_sizing{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

$main-teal: #18c7a4;
$text-teal: #28a189;
$hover-orange: #eb8a0c;
$light-black: #474540;
$light-gray: #eaeaea;
$light-red: #ff6557;
$logo-red: #e33424;
$second-blue: #2daee0;
$box-shadow: #c4c4c4;

/* universal */
.center{
	text-align: center;
	h1{
		margin-bottom: 10px;
	}
}

.center-page-2{
	margin-left: 550px;
}

.page-content{
	padding-top: 25px;
}

h1, h2, h3{
	text-align: center;
}

#caption-form-row{
	margin-bottom: 22px;
}

#caption-form{
	margin-left: 21px;
}

.form-inline-label{
	font-size: 26px;
}

body{
	padding-top: 70px;
}

.z-section{
	div{
		position: absolute;
		z-index: 0;
	}
}

.z-front{
	z-index: 100;
}

/* Logo */
#logo{
	a{
		color: $main-teal;
		font-size: 24pt;
		line-height: 20px;
		letter-spacing: -2px;
		text-decoration: none;
	}
}

/* header */
.navbar{
	padding-top: 5px;
	background-color: white;
	border-bottom: none;
	li{
		a{
			color: $light-red;
		}
	}
}

/*Navbar Links */
#navbar-center{
	margin-left: 41%;
	a{
		color: $second-blue;
		font-size: 40px;
		text-align: center;
		/*box-shadow: 0px 0px 5px 2px $box-shadow;*/
		border-radius: 5px;
		&:hover{
			text-decoration: none;
			color: $light-red;
			/*box-shadow: 0px 0px 15px 2px #000000;
			padding-right: 3px;
			padding-left: 3px;
			padding-top: 1.5px;
			padding-bottom: 1.5px;*/
		}
	}
}

#nav-link{
	margin-top: -10px;
}


.navbar-default .navbar-nav > li > a{
	color: $light-red;
}

/*logo*/
.navbar > .container-fluid .navbar-brand{
	font-size: 70px;
	letter-spacing: -5px;
	color: $logo-red;
}

/* Home */
#sign-up-btn{
	margin-left: 42%
}

/* footer */
footer{
	margin-top: 45px;
	padding-top: 5px;
	padding-left: 20px;
	border-top: 1px solid $light-gray;
	opacity: .7;
	color: gray;

	a{
		color: gray;
		&:hover{
			color: gray;
		}
	}
}

/* file_uploaders */
#file_input{
	margin-top: 25px;
	margin-bottom: 25px;
}

/* typography */
.caption{
	strong{
		font-size: 20pt;
	}
}

/* Buttons */
.btn{
	margin-top: 10px;
	margin-bottom: 10px;
}

.delete{
	margin-left: 20px;
}

.main-nav{
	margin-top: 25px;
	margin-left: -65px;
	background-color: orange;
	border-color: orange;
	color: white;
	&:hover{
		background-color: orange;
		border-color: orange;
		color: white;	
	}
	&:active{
		border-color: $hover-orange;
		background-color: $hover-orange;
		color: white;
	}
	&:focus{
		border-color: $hover-orange;
		background-color: $hover-orange;
		color: white;
	}
}

#slide-change{
	margin-left: 43px;
}

.btn-next{
	margin-top: 25px;
	background-color: $main-teal;
	border-color: $main-teal;
	color: white;
	&:hover{
		background-color: $main-teal;
		border-color: $main-teal;
		color: white;
	}
	&:active{
		background-color: $text-teal;
		border-color: $text-teal;
		color: white;
	}
	&:focus{
		background-color: $text-teal;
		border-color: $text-teal;
		color: white;
	}
}
/* tables */
/*.table-striped > tbody > tr:nth-of-type(2n+1){
	&:hover{
		background-color: #d5d5d5;
	}
}*/
.table-hover{
	tbody{
		tr{
			&:hover{
				background-color: #d5d5d5;
			}
		}
		td{
			margin-left: 55%;
		}
	}
}



/* images */
.thumbnail > img{
	border: 2px solid;
}

.empty_picture{
	background-color: #e8e8e3; /* gray */
	padding-top: 73.5px;
	padding-bottom: 73.5px;
}

.picture-grid-no-scroll{
	overflow-y: hidden;
	overflow-x: hidden;
	max-height: 550px;
}

.picture-grid{
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 550px;
}

.thumb-input{
	margin-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#picture{ /* from slideslot edit */
	margin-top: 8px;
	margin-bottom: 25px;
}

#slideshow{
	background-color: white;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/*Cue edit form*/
#follow-check{
	margin-top: 5px;
	margin-left: 55px;
}

#radio-cue{
	margin-left: 33px;
}

.follow{
	margin-left: 55px;
	margin-top: -2px;
}

#number-input{
	width: 90%;
}

#time-input{
	width: 70%;
}

#radio-div{
	margin-left: -5.5%;
	margin-right: -5%;
}

#follow-hang-div{
	margin-left: -2%;
	margin-right: -1%;
}

#follow-hang-input{
	width: 30%;
	margin-left: 17%;
}

#time-div{
	margin-left: -2%;
}

#purpose-div{
	margin-left: -5%;
	margin-right: -1.3%;
}

#called-div{
	margin-right: -1.3%;
}

#submit-div{
	margin-top: 1.15%;
}

#check-div{
	margin-right: -8.5%;
}

#page-input{
	width: 70%;
}

#page-div{
	margin-right: -3.1%;
}

#cue-form{
	margin-left: 6%;
	margin-right: -6%;
}

/*User Home*/
#add-show-btn{
	font-size: 25px;
}

.show-thumbnail{
	text-align: center;
	margin-top: 50px;
}

.alt-show-pic{
	color: $second-blue;
	font-size: 25px;
	&:hover{
		text-decoration: none;
		color: $logo-red;
	}
}

/*Show cuelist*/
#add-cue{
	border-radius: 100%;
	width: 5%;
	padding-top: 1.3%;
	padding-bottom: 1.3%;
	outline: none;
}

#delete-show{
	margin-top: 1.9%;
	margin-left: 55%;
}

.glyphicon-remove{
	color: #ff6666;
	padding-left: 15px;
}

#delete-cue-div{
	margin-left: -30px;
}

#delete-cue-button{
	outline: none;
}

/* Settings */
.settings{
	margin-left: 38%;
}