@import "bootstrap-sprockets";
@import "bootstrap";

@mixins box_sizing{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$main-teal: #18c7a4;
$text-teal: #28a189;
$hover-orange: #eb8a0c;
$light-black: #474540;
$light-gray: #eaeaea;

/* universal */
.center{
	text-align: center;
	h1{
		margin-bottom: 10px;
	}
}

h1, h2{
	text-align: center;
}

#caption-form-row{
	margin-bottom: 22px;
}

#caption-form{
	margin-left: 21px;
}

.form-inline-label{
	font-size: 26px;
}

body{
	padding-top: 70px;
}

/* Logo */
#logo{
	a{
		color: $main-teal;
		font-size: 24pt;
		line-height: 20px;
		letter-spacing: -2px;
		text-decoration: none;
	}
}

/* header */
.navbar{
	padding-top: 5px;
	background-color: white;
	border-bottom: $light-gray 1px solid;
}

/* Tabs */

.navbar-nav > li.active > a {
	color: orange;
	border-top: $light-gray 1px solid;
	border-left: $light-gray 1px solid;
	border-right: $light-gray 1px solid;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;

	&:hover{
		background-color: orange 25%;
	}
}

.inactive-tab{
	color: $main-teal;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;

	&:hover{
		color: $main-teal;
	}
}

/* footer */
footer{
	margin-top: 45px;
	padding-top: 5px;
	padding-left: 20px;
	border-top: 1px solid $light-gray;
	opacity: .7;
	color: gray;

	a{
		color: gray;
		&:hover{
			color: gray;
		}
	}
}

/* file_uploaders */
#file_input{
	margin-top: 25px;
	margin-bottom: 25px;
}

/* typography */
.caption{
	strong{
		font-size: 20pt;
	}
}

/* Buttons */
.btn{
	margin-top: 10px;
	margin-bottom: 10px;
}

.delete{
	margin-left: 20px;
}

.main-nav{
	margin-top: 25px;
	margin-left: -65px;
	background-color: orange;
	border-color: orange;
	color: white;
	&:hover{
		background-color: orange;
		border-color: orange;
		color: white;	
	}
	&:active{
		border-color: $hover-orange;
		background-color: $hover-orange;
		color: white;
	}
	&:focus{
		border-color: $hover-orange;
		background-color: $hover-orange;
		color: white;
	}
}

#slide-change{
	margin-left: 43px;
}

.btn-next{
	margin-top: 25px;
	background-color: $main-teal;
	border-color: $main-teal;
	color: white;
	&:hover{
		background-color: $main-teal;
		border-color: $main-teal;
		color: white;
	}
	&:active{
		background-color: $text-teal;
		border-color: $text-teal;
		color: white;
	}
	&:focus{
		background-color: $text-teal;
		border-color: $text-teal;
		color: white;
	}
}

/* images */
.thumbnail > img{
	border: 2px solid;
}

.empty_picture{
	background-color: #e8e8e3; /* gray */
	padding-top: 73.5px;
	padding-bottom: 73.5px;
}

.picture-grid-no-scroll{
	overflow-y: hidden;
	overflow-x: hidden;
	max-height: 550px;
}

.picture-grid{
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 550px;
}

.thumb-input{
	margin-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#picture{ /* from slideslot edit */
	margin-top: 8px;
	margin-bottom: 25px;
}

#slideshow{
	background-color: white;
}

/* carousel */
.carousel-caption{
	font-size: 24pt;
	background-color: black;
	opacity: .8;
	margin-left: 150px;
	margin-right: 150px;
}

.glyphicon{
	color: $light-black
}

.carousel-control{
	background-color: white;
	
	border-color: #dbdbdb;
	opacity: 1;
	width: 5%;
	&:hover{
		opacity: 1;
		background-color: #e8e8e8;
		border: 2px solid;
		border-color: #f0f0f0;
	}
	&:focus{
		opacity: 1;
	}
}

.carousel-control.left{
	background-image: none;
}

.carousel-control.right{
	background-image: none;
}

.carousel-control:hover, .carousel-control:focus{
	opacity: 1;
}