<tr id="delete-cue-<%= q.id %>">
	<td>
		<% if defaults.quick == false %>
			<%= link_to cue_path(q.id), method: :delete, remote: true, data: {confirm: "Delete Cue #{decimal_format(q.number)}?"} do %>
				<span class="glyphicon glyphicon-remove" id="delete-cue-button"></span>
			<% end %>
		<% else %>
			<%= link_to cue_path(q.id), method: :delete, remote: true do %>
				<span class="glyphicon glyphicon-remove" id="delete-cue-button"></span>
			<% end %>
		<% end %>
	</td>
	<td>
		<div class="form-group col-xs-1">
			<input type="submit" class="btn btn-lg btn-success add-cue-btn"> </input>
			<%= link_to "#", class: "sudo-button" do %>
				<span class="glyphicon glyphicon-plus submit-glyph"></span>
			<% end %>
		</div>
	</td>
</tr>