<div class="col-xs-1" id="add-cue-2">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Insert</th>
				</tr>
			</thead>
			<tbody>
				<% cues.each do |q| %>
					<tr>
						<td class="add-cue-td"><%= content_tag(:a, content_tag(:span, nil, class: "glyphicon glyphicon-plus submit-glyph-sm", hidden: "hidden"), class: "btn btn-sm btn-success add-cue-after", id: "add-cue-after-#{q.id}") %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>