<div class="col-xs-1">
	<div id="push-down-btns"></div>
	<% cues.each do |q| %>
		<div class="row">
			<%= content_tag(:a, content_tag(:span, nil, class: "glyphicon glyphicon-plus submit-glyph-sm"), class: "btn btn-sm btn-success add-cue-after", id: "add-cue-after-#{q.id}") %>
		</div>
	<% end %>
</div>