<footer>
	<div class="container">
		<div class="col-xs-10 col-xs-offset-1" id="footer">
			<div class="row">
				<div class="pull-right">
					<small>Version 0.1.1</small>
				</div>
			</div>
		</div>
	</div>
</footer>